{{#each this}}
<h1 class="tiilte-post">{{tags}}</h1>
<img src="{{previewURL}}" alt="logo" width="320">

<ul class="descreption-foto">
    <li>Autor : {{user}}.</li>
    <li>Views: {{views}}.</li>
    <li>Downloads: {{downloads}}.</li>
</ul>
{{!-- <p>
    Autor : {{user}}. Downloads: {{downloads}}.
    <li><a href="{{pageURL}}" target="_blank" rel="noopener noreferrer">{{title}}</a></li>

</p> --}}
<hr>
{{/each}}