{{#each this}}
<h2 class="tiilte-post">{{title}}</h2>
<img src="{{urlToImage}}" alt="logo" width="320">

<ul class="descreption-foto">
    <li>Description: {{description}}.</li>
    <li>Published at: {{views}}.</li>
    <li>Autor : {{author}}.</li>
    <li>Link: <a href="{{url}}" target="_blank" rel="noopener noreferrer">{{title}}</a>.</li>
</ul>
{{!-- <p>
    Autor : {{user}}. Downloads: {{downloads}}.
    <li><a href="{{pageURL}}" target="_blank" rel="noopener noreferrer">{{title}}</a></li>

</p> --}}
<hr>
{{/each}}